<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="2.3.67.1" targetFramework="net461" />
  <package id="CsvHelper" version="7.1.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MimeTypesMap" version="1.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit.Allure" version="1.0.3" targetFramework="net461" />
  <package id="NUnit.Engine.Api" version="3.5.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="ReportPortal.Client" version="2.0.1" targetFramework="net461" />
  <package id="ReportPortal.Log4Net" version="1.1.5" targetFramework="net461" />
  <package id="ReportPortal.NUnit" version="3.3.5" targetFramework="net461" />
  <package id="ReportPortal.Shared" version="2.0.3" targetFramework="net461" />
  <package id="RestSharp" version="106.3.1" targetFramework="net461" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net461" />
  <package id="SpecFlow.Allure" version="2.3.67.1" targetFramework="net461" />
  <package id="YamlDotNet" version="5.0.1" targetFramework="net461" />
</packages>